<launch>
  <param command="$(find xacro)/xacro $(find tsbenzbot_description)/urdf/tsbenzbot.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model tsbenzbot" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find tsbenzbot_description)/world/mymap.world"/> -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
